@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

.cabecalho{
    background: #FFFFFF;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.4px solid #797474;
}

.cabecalho a{
    text-decoration: none;
}

.logo{
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.social-media img{
    width: 30px;
    padding: 3px
}

main{
    background: linear-gradient(#FFFFFF, #000000);
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-weight: bold;
    padding: 2rem 2rem;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    clear: left;
}

.titulo-principal::first-letter{
    color: #5353e0;
}
.sobre-mim img{
    margin-right: 20px;
    width: 16%;
    float: left;
    border: #000000 solid 5px;
    border-radius: 25px;
    text-align: justify;
}

p{
    font-size: 1.3rem;
    margin: 0 10px;
    color:#5353e0;
    padding: 0 0 1.5rem;
}

.sobre-mim a{
    text-decoration: none;
    color: #000000;
}

.caixa-sobre-mim{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caixa-sobre-mim p{
    color: #000000;
    font-weight: bold;
    padding: 10px 0;
    font-size: 20px;
    border-top: 0.4px solid #797474;
}

.spotify{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coisas-curto{
    padding-bottom: 1rem;
}

.caixa-coisas-curto{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img{
    border-radius: 10px 10px 0 0;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    display: inline-block;
    margin: 2rem 60px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
    background: #5353e0;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

.agradecimentos p{
    text-align: justify;
    padding: 0 0 1.5rem;
}

.agradecimentos a{
    text-decoration: none;
    color:#FFFFFF;
}

footer{
    text-align: center;
    padding: 40px;
    border-top: 0.4px solid #797474;
    background: #000000;
}

.copyright{
    font-size: 13px;
    color: #FFFFFF;
}