@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

header{
    background: #FFFFFF;
    padding: 20px 0;
}

.logo{
    text-align: left;
    margin: 0 25%;
}

main{
    background: linear-gradient(#FFFFFF, #000000);
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-weight: bold;
    padding: 2em 2em;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    clear: left;
}

.titulo-principal::first-letter{
    color: #0000FF;
}
.sobre-mim img{
    margin-right: 20px;
    width: 16%;
    float: left;
    border: #000000 solid 5px;
    border-radius: 25px;
}

p{
    font-size: 1.3rem;
    margin: 0 10px;
    color:#121a8f;
    padding: 0 0 10px;
}

.sobre-mim p:nth-child(5) {
    margin: 1.5em 0 0 0;
    color: #000000;
    font-weight: bold;
    padding: 0 0 10px;
    font-size: 22px;
}

.spotify{
    display:inline;
}

.gif{
    border-radius: 90px;
    margin-left: 1rem;
}

.rede-social {
    margin-top: 1.5em;
    text-align: left;
    color: #000000;
    font-weight: bold;
}

.coisas-curto{
    padding-bottom: 20px;
}

.coisas-curto a{
    font-size: 1.3rem;
    padding: 2px 20px;
    margin-left: 1.7rem;
    text-decoration: none;
    display: inline-block;
    background: #1e087e;
    border-radius: 8px;
    color:#FFFFFF;
}

.coisas-curto a:hover{
    background: #444edf;
    transition: all .3s ease-in-out;
}

.agradecimentos p{
    text-align: center;
    padding: 0 0 10px;
    
}

footer{
    text-align: center;
    background: url(./imagens/bg.jpg);
    padding: 40px;
}

.copyright{
    font-size: 13px;
    color: #FFFFFF;
}